.img {
    max-width: 100%;
    height: auto;
}

.hero-content{
    margin-bottom: 100px;
}

nav {
    background-color: #a12600;
    
}

.nav-outline-btn:hover {
    background-color: #63c6ff;
    box-shadow: #fff;
}

.search-text {
    color: #63c6ff;
}



.hero-outline-btn {
    margin-left: 20px;
    border-color: #63c6ff;;
}

.navbar-brand {
    font-size: 3em;
    font-style: bold;
    font-family: sans-serif;
    justify-content: center;
    display: flex;
    flex-grow: 1;
}

.brand-text {
    color: #fff !important;
    font-style: bold;
    justify-content: center;
}

.nav-text {
    color: rgba(56, 56, 56, 0.705);
}

.nav-text .fab .fa:hover {
    color: #3db3f8;
}

.img-iphone {
    max-width: 50%;
    height: auto;
}

.hero-btn-text {
    color: #fff;
}
