.img, .img-responsive {
    max-width: 100%;
    height: 85px;
}

.hero-content{
    margin-bottom: 100px;
}

/* .img-responsive {
    
} */

.navbar {
   border-bottom:1px solid #bebebe !important;
    
}

.nav-outline-btn:hover {
    background-color: #63c6ff;
    box-shadow: #fff;
}

.search-text {
    color: #63c6ff;
}



.hero-outline-btn {
    margin-left: 20px;
    border-color: #63c6ff;;
}

.navbar-brand {
    font-size: 3em;
    font-style: bold;
    font-family: sans-serif;
    justify-content: center;
    display: flex;
    flex-grow: 1;
}

.brand-text {
    color: #a12600 !important;
    font-style: bold;
    justify-content: center;
    
}

.nav-text {
    color: rgba(56, 56, 56, 0.705);
}

.nav-text .fab .fa:hover {
    color: #a12600;
}

.img-iphone {
    max-width: 50%;
    height: auto;
}

.hero-btn-text {
    color: #fff;
}
